<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Vue</title>
    <style>
        /* .box {
            background: green;
            width: 100px;
            height: 100px;
        } */
    </style>
</head>
<body>
    <!-- <div id = "app">
     <h3>{{ lesson }}</h3>
     <h3>{{ counter }}</h3>
     <button v-on:click=incrementCounter>Click me!</button>
     <div 
        class = "box"
        @mouseover = "overTheGreenBox"
     ></div>
    </div> -->
    
    <!-- <div id="app">
        <h1 v-if="auth">Your User Profile</h1>
        <h1 v-else>Login to Your Profile</h1>
    </div> -->
    <div id="app">
        <h1>Product: {{ product }}</h1>
        <h2 v-if="q > 20">Available</h2>
        <h2 v-else-if="q > 0 && q < 20">limited</h2>
        <h2 v-else="q < 20">Sold out!!</h2>
        <br>
        <h2 v-show="sale">Sale ongoing!</h2>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
    <!-- <script src="main.js"></script> -->
    <script src="main3.js"></script>
</body>
</html>